#pip install wheel
#sudo apt-get install python-pip
#sudo pip install numpy
 pandas
                                                                                                                               
