#pip install wheel
#sudo apt-get install python-pip
#sudo pip install numpy
 pandas
matplotlib.pyplot==3.2.1
numpy==1.10.4
scipy==0.16.1
Theano==0.8
                                                                                                                               
